* {
  font-size: 30px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(41, 41, 41, 0.562);
  opacity: 0;
  transition: all 1s;
}
.navbar.visible {
  opacity: 1;
}

.navbarItem {
  font-size: 35px;
}
.background {
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
  margin: 0;
  background-image: url("imgs/promo-kaukaa.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
  /* padding: env(
    safe-area-inset
  ); // Meant to prevent whitespace appearing on iOS Chrome when rotating */
}

.logoDiv {
  display: block;
  height: auto;
  width: 40%;
  /* background-color: rgba(255, 0, 0, 0.479); */
  position: sticky;
  top: 73%;
  /* left: 0; */
  transition: all 1s;
}

.logoDiv.active {
  top: 0;
  left: 100px;
  width: 10%;
}

.logoPng {
  width: 100%;
  /* left: 25%; */
}

.osio1 {
  height: 100vh;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.osio2 {
  height: 400px;
  width: 100%;
  max-width: 1500px;
  background: rgba(255, 0, 0, 0.356);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media (max-width: 1300px) {
  .logoDiv.active {
    width: 15%;
  }
@media (max-width: 1000px) {
  .logoDiv {
    width: 60%;
  }
  .logoDiv.active {
    width: 18%;
  }
}
@media (max-width: 600px) {
  .logoDiv {
    width: 80%;
  }
  .logoDiv.active {
    width: 30%;
  }
}
